@import "tailwindcss";

/* Slim Scrollbar (Show only when overflow) */
.small-scroll::-webkit-scrollbar {
  width: 4px;
}

.small-scroll::-webkit-scrollbar-thumb {
  background: #c0c0c0;
  border-radius: 10px;
}

.small-scroll::-webkit-scrollbar-track {
  background: transparent;
}

/* Firefox */
.small-scroll {
  scrollbar-width: thin;
  scrollbar-color: #c0c0c0 ;
}
